<% if session[:sign_in] == "first" %>
  <h2>Welcome back to our store!</h2>
  <% session[:sign_in] = "not first" %>
<% end %>
<br>
<%= @user.email %>
<br><br>
<%= link_to "Sign Out", {:controller => "sessions", :action => "destroy"}, :method => :delete%>
